.btn-new {
    color: white;
    background-color: goldenrod;
    padding: 15px 32px;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    border: none;
}
.ups-logo {
    width: 105px;
    height: 120px;
    margin-right: 5%;
    }
.page {
    background-color: #351c15;
}
.logo-three-d {
    width: 55px;
    height: 55px;
    margin-left: 5%;
    margin-right: 2%;
}
.col {
  float: left;
}
.floor {
    color: goldenrod;
    font-size: 24px;
    text-align: center;
}
.div {
        width: 50%;
}
.route-img {
    max-width: 80%;
    margin-left: 10%;
}
.btn-destination {
    color: white;
    background-color: goldenrod;
    font-size: 26px;
    min-width: 250px;
    display: table-cell;
    vertical-align: middle; 
    margin-right: 10px;
}


/deep/ .mat-tab-label {
    width: 50%;
    background-color: goldenrod;
    color: #FFFFFF;
}

.view-box{
    width: 90%;
    margin: 0 auto;
    border: solid 2px white; 
}

.center{
    width: 90%;
    margin: 0 auto;
}

@media all and (max-width: 600px){
    .route-img {
        max-width: 100%;
        margin-left: 0;
    }
}