
<body @flyInOut style="position: relative;">   
    <div class="header">
        <img src="assets/img/icon.png" >
        <div class="h2 title" style="vertical-align: middle"> Roomfinder</div>
        <button md-fab (click)="clickedNew()" 
                mdTooltip="Back To Search" 
                mdTooltipPosition="left"
                style="float: right">
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        </button>
    </div>
    <div class="view-box">
        <div *ngIf="floor == '1'" class="h2 floor-title">1st Floor - {{ cubeId }}</div>
        <div *ngIf="floor == '2'" class="h2 floor-title">2nd Floor - {{ cubeId }}</div>
        <div *ngIf="floor == '3'" class="h2 floor-title">3rd Floor - {{ cubeId }}</div>
        <div *ngIf="floor == '4'" class="h2 floor-title">4th Floor - {{ cubeId }}</div>
        <div>
            <img *ngIf="showFullImg"
                 class="route-img" 
                 [src]="fullMapImg" 
                 (click)="openDialog(cubeId, fullMapImg)">
            <img *ngIf="showDestImg" 
                 class="route-img" 
                 [src]="destImg">
        </div>
        <div class="nav-buttons">
            <button md-raised-button (click)="showFullImg = true; showDestImg = false">Full Map</button>
            <button md-raised-button (click)="showFullImg = false; showDestImg = true">Destination View</button>
        </div>
    </div>
</body>
