
<body @flyInOut>
    <div class="page" style="position:absolute; margin-top:3%; text-align:center; width:100%;height:100%">
        <img class="ups-logo" src="assets/img/ups-logo.png">
        <h4 style="color:goldenrod; display: inline-block; font-size: 36px;">2nd Floor</h4>
        <!--<button class="btn-new" (click)="clickedNew()">NEW</button>-->
        <p><img class="route-img" src="assets/img/p-2d-101z.PNG"></p>
        <p orientation="horizontal" style="margin-top: 1%; color: white; font-size: 26px; border-color: white; border-width: 2;">      
        <!--<button class="btn-back" (click)="clicked()" style="line-height: 55px;">Back</button>-->
        <button md-fab (click)="clickedNew()" mdTooltip="Back To Search" mdTooltipPosition="left">
            <i class="fa fa-home" aria-hidden="true"></i>
        </button>
        <button md-fab (click)="clicked()" mdTooltip="Back To Full Map" mdTooltipPosition="right">
            <i class="fa fa-reply" aria-hidden="true"></i>
        </button>
        </p>
    </div>
</body>