
<body>
    <md-card class="login-card" *ngIf="!loggedIn" @flyInOut>
        <md-input-container>
            <input mdInput 
                   placeholder="Username" 
                   [(ngModel)]="username" 
                   (ngModelChange)="checkCredentials()">
        </md-input-container>
        <div style="width: 200px; display: inline-block"></div>
        <md-input-container>
            <input mdInput 
                   placeholder="Password"
                   [(ngModel)]="password" 
                   (ngModelChange)="checkCredentials()">
        </md-input-container>
    </md-card>


</body>