html, body{
  height: 100%;
  font-family: Helvetica, sans-serif, Arial; 
  background-color: #351c15;
}

a.active {
  background-color: pink;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: goldenrod;
}