body {
  text-align: center;
  background-color: #351c15;
 }
.page {
      background-color: #351c15;
    }
.welcome {
      color: goldenrod;
      font-size: 46px;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 2%;
      
    }
.btn-destination {
      color: black;
      border: 5px solid #000000;
      background-color: #e7e7e7;
      padding: 15px 15px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 200px;
      margin-top: 20px;
      border-radius: 10px;
      background-color: #ffffff;
    }
.btn-find {
      color: white;
      background-color: goldenrod;
      width: 200px;
      padding: 15px 32px;
      margin-top: 30px;
      font-size: 30px;
       border: none;
    }
.ups-logo {
      margin-top: 60px;
      width: 85px;
      height: 85px;
    }
md-input-container {
      color: pink;
}
autocomplete-box {
      background: pink;
}

.search-bar{
      width: 50%;
      margin: 0 auto;
      vertical-align: center;
}

.dialog-content{
    background-color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-left: 12px;
}

@media all and (max-width: 600px){
     .search-bar{
            width: 80%;
      }
      .dialog-content{
            width: 80%;
      }
}

.z-depth:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}


/*    ///////       TTITLE ANIMATION  //////////////// */

div p {
  display: inline-block;
  font-family: Helvetica, sans-serif, Arial; 
  font-size: 36px;
  color: goldenrod;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  opacity: 0.0;
  animation: port 3s 1 forwards;
  -webkit-animation: port 3s 1 forwards;
}

div p:nth-of-type(2){
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

div p:nth-of-type(3){
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

div p:nth-of-type(4){
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

div p:nth-of-type(5){
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

div p:nth-of-type(6){
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

div p:nth-of-type(7){
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

div p:nth-of-type(8){
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

div p:nth-of-type(9){
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

div:hover p {
  animation: reset 1s 1;
  -webkit-animation: reset 1s 1 ;
}

@keyframes port {
  0%{
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@-webkit-keyframes port {
  0%{
   -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@keyframes reset {
  0%{}
  100%{}
}

@-webkit-keyframes reset {
  0%{}
  100%{}
}

.highlight-row{
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #FFFFFF;
  transform: scale(1.03,1.05);
  box-shadow: 10px 20px 80px black;
}

.dialog-content:hover{
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #FFFFFF;
  transform: scale(1.03,1.05);
  box-shadow: 10px 20px 80px black;
}